@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/raleway-semibold.eot'); /* IE9 Compat Modes */
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
       url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-semibold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-semibold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-semibold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-semibold.svg#Raleway') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: "AvenirMedium";
  src:url("../fonts/Avenir-Medium-webfont.eot");
  src:url("../fonts/Avenir-Medium-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Avenir-Medium-webfont.woff") format("woff"),
    url("../fonts/Avenir-Medium-webfont.ttf") format("truetype"),
    url("../fonts/Avenir-Medium-webfont.svg#birdbrain") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirBlack";
  src:url("../fonts/Avenir-Black-webfont.eot");
  src:url("../fonts/Avenir-Black-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Avenir-Black-webfont.woff") format("woff"),
    url("../fonts/Avenir-Black-webfont.ttf") format("truetype"),
    url("../fonts/Avenir-Black-webfont.svg#birdbrain") format("svg");
  font-weight: 800;
  font-style: normal;
}